<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tedu.jt.sso.mapper.UserMapper">

    <!--按用户名，手机，邮箱校验-->
    <select id="check" parameterType="map" resultType="int">
        select count(*) from tb_user WHERE ${colname}=#{val}
    </select>
</mapper>